<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cinema City notepad</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a th:replace="navigationModalFragment.html :: navigationButton"></a>
    </nav>
    <div class="alert alert-danger" role="alert" th:if="${#lists.size(movies) == 0}">
        No future movies
    </div>
    <div class="row">
        <div class="col-sm-3 bg-light" th:each="movie : ${movies}">
            <span class="text-center h5" th:text="${movie.name}">Title</span>
            <a th:href="${movie.videoLink}" target="_blank">
                <img class="img-thumbnail" th:alt="${movie.name}" th:src="${movie.posterLink}"
                     onerror="this.onerror=null;this.src='https://www.cinema-city.pl/xmedia/img/10103/film.placeholder.poster.jpg';">
            </a>
            <a target="_blank" th:href="${movie.link}">
                <span class="text-center small">[details]</span>
            </a>
            <span class="text-center small"
                  th:text="${movie.releaseDate}"></span>
        </div>
    </div>
</div>
<div th:replace="navigationModalFragment.html :: navigationModal(current='future')"></div>
<script lang="javascript">
    function showEvents(id){
        document.getElementById('showMovieEvents'+id).submit();
    }


</script>
</body>
</html>