<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cinema City notepad</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CC notepad!</a>
        <div class="btn-group float-right" role="group">
            <button th:text="${selectedRange.label}" type="button" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown">
                Select range
            </button>
            <div class="dropdown-menu">
                <form th:action="@{/setting/range}" th:method="post">
                    <input type="hidden" name="_method" value="PUT"/>
                    <th:block th:each="range : ${rangeTypes}">
                        <button type="submit" class="dropdown-item" name="range"
                                th:value="${range}" th:text="${range.label}">
                            range type
                        </button>
                    </th:block>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-3 bg-light" th:each="movie : ${movies}">
            <span class="text-center h5" th:text="${movie.name}">Title</span>
            <span class="float-right font-weight-light" th:text="${movie.releaseYear}">date published</span>
            <form th:id="'showMovieEvents' + ${movie.id}" th:action="@{/events/__${movie.id}__}" th:method="put">
                <a href="javascript:{}"
                   th:onclick="'showEvents(\'' + ${movie.id} + '\');'">
                    <img class="img-thumbnail" th:alt="${movie.name}" th:title="${movie.length}"
                         th:src="${movie.posterLink}">
                </a>
            </form>
            <a target="_blank" th:href="${movie.videoLink}">
                <span class="text-center small">[trailer]</span>
            </a>
        </div>
    </div>
</div>
<script lang="javascript">
    function showEvents(id){
        document.getElementById('showMovieEvents'+id).submit();
    }






</script>
</body>
</html>