<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cinema City notepad</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a th:replace="navigationModalFragment.html :: navigationButton"></a>
        <div class="btn-group float-right" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Filters
            </button>
            <div class="dropdown-menu">
                <form th:action="@{/setting/filter}" th:method="post" th:each="filterEntry : ${filters}">
                    <input type="hidden" name="_method" value="PUT"/>
                    <input type="hidden" name="filter" th:value="${filterEntry.key}"/>
                    <button type="submit" class="dropdown-item" name="value"
                            th:text="${filterEntry.key.label}"
                            th:classappend="${filterEntry.value} ? 'text-success' : 'text-danger'"
                            th:value=" ${!filterEntry.value}">
                        Filter
                    </button>
                </form>
            </div>
        </div>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item" th:each="date, i : ${dates}">
                <form class="form-inline" th:action="@{/setting/date}" th:method="post" th:id="'dateForm' + ${i.index}">
                    <input type="hidden" name="_method" value="PUT"/>
                    <input type="hidden" name="dateString" th:value=" ${date}">
                    <a class="nav-link" href="javascript:{}"
                       th:onclick="'document.getElementById(\'dateForm' + ${i.index} + '\').submit();'"
                       th:classappend="${#dates.format(selectedDate, 'dd-MM')} == ${#dates.format(date, 'dd-MM')} ? 'active' : ''"
                       th:text="${#dates.format(date, 'dd-MM E')}">
                        dd-MM
                    </a>
                </form>
            </li>
            <!--            //TODO HIDE excess into a dropdown -->
            <!--            <li class="nav-item dropdown">-->
            <!--                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Dropdown</a>-->
            <!--                <div class="dropdown-menu">-->
            <!--                    <a class="dropdown-item" href="#">Action</a>-->
            <!--                    <a class="dropdown-item" href="#">Another action</a>-->
            <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">Separated link</a>-->
            <!--                </div>-->
            <!--            </li>-->
        </ul>
    </nav>
    <div class="alert alert-danger" role="alert" th:if="${#lists.size(movies) == 0}">
        No screenings for selected date and filters
    </div>
    <div class="row">
        <div class="col-sm-3 bg-light" th:each="movie : ${movies}">
            <span class="text-center h5" th:text="${movie.name}">Title</span>
            <a href="javascript:{}" data-toggle="modal" th:data-target="'#eventsModal' + ${movie.id}">
                <img class="img-thumbnail" th:alt="${movie.name}" th:title="${movie.length} + ' min'"
                     th:src="${movie.posterLink}"
                     onerror="this.onerror=null;this.src='https://www.cinema-city.pl/xmedia/img/10103/film.placeholder.poster.jpg';">
            </a>
            <a target="_blank" th:href="${movie.videoLink}">
                <span class="text-center small">[trailer]</span>
            </a>
            <span class="text-center small"
                  th:text="${movie.availableScreenings == 1} ? '1 screening' : ${movie.availableScreenings} + ' screenings'"></span>

            <div class="modal fade" th:id="'eventsModal'+ ${movie.id}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" th:text="${movie.name}">Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                                <li class="nav-item" th:each="pack, i: ${movie.eventPacks}">
                                    <a class="nav-link" th:id="'tab'+${pack.name} + ${movie.id}" data-toggle="tab"
                                       th:href="'#panel'+${pack.name} + ${movie.id}" role="tab"
                                       th:text="${#lists.size(movie.eventPacks) > 1} ? ${pack.name} + ' (' + ${#lists.size(pack.events)} + ')' : ${pack.name}"
                                       th:classappend="${i.index == 0} ? 'active' : ''">Pack
                                        name</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" th:id="'panel'+${pack.name} + ${movie.id}"
                                     role="tabpanel" th:each="pack, i: ${movie.eventPacks}"
                                     th:classappend="${i.index == 0} ? 'show active' : ''">
                                    <table class="table">
                                        <tbody>
                                        <ul class="nav nav-pills nav-fill flex-column">
                                            <li class="nav-item" th:each="event : ${pack.events}">
                                                <a class="nav-link" target="_blank" th:href="${event.bookingLink}"
                                                   th:text="${event.eventDateTime}" th:title="${event.attributeIds}">DateTime</a>
                                            </li>
                                        </ul>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span class="text-center small" th:text="'(' + ${movie.length} + ' min)'">Duration</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="navigationModalFragment.html :: navigationModal(current='main')"></div>
</body>
</html>