<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cinema City notepad</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--//TODO nice form for configuring mail and adding movies here-->
<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a th:replace="fragment/navigationModalFragment.html :: navigationButton"/>
    </nav>
    <div class="well">
        <form th:action="@{/setting/email}" th:method="post">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="email" class="form-control" name="email" th:placeholder="${email}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="well">
        <form th:action="@{/monitor/add}" th:method="post">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="text" name="movieName"/>
            <button type="submit" class="btn btn-success">
                Add
            </button>
        </form>
    </div>
    <div class="well">
        <div class="alert alert-danger" role="alert" th:if="${#lists.size(monitoredMovies) == 0}">
            No monitored movies
        </div>
        <div class="row">
            <div class="col-sm-3 bg-light" th:each="movie : ${monitoredMovies}">
                <span class="text-center h5" th:text="${movie.movieName}">Title</span>
                <span class="text-center h5" th:if="${movie.filmId != null}"> (found)</span>
                <form th:action="@{/monitor/remove/id}" th:method="post">
                    <input type="hidden" name="_method" value="PUT"/>
                    <input type="hidden" name="id" th:value="${movie.id}"/>
                    <button class="btn btn-danger" type="submit">
                        Remove
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/navigationModalFragment.html :: navigationModal(current='monitor')"/>
</body>
</html>